<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <a href="/createPost">Create a post</a>
    <h2>Welcome <%= locals.user %></h2>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% if (locals.data) {%>
        <% data.forEach((data) => { %>
            <div class="message-container">
                <h3><%= data.title %></h3>
                <p><%= data.message %></p>
                <p><%= data.createdat %></p>
                <p><%= data.firstname%> <%= data.lastname%></p>  
            </div>
        <% }); %>
    <% } %>
</body>
</html>