<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h2><%= locals.page %></h2>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <% if (locals.data) {%>
    <% data.forEach((data) => { %>
        <div class="message-container">
          <h3><%= data.title %></h3>
            <p><%= data.message %></p>
            <p><%= data.createdat %></p>
            <% if (locals.page !== "VIP") {%>
                <p>Anonymous</p>
              <% } else { %>
                <%= data.username %>
            <% } %>
        </div>
    <% }); %>
  <% } %>
</body>
</html>